<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucete.comprehensive.user.blacklist.model.dao.BlacklistMapper">




        <!-- 모든 블랙리스트된 회원 목록을 조회하는 쿼리 -->
        <select id="getAllBlacklistedMembers" resultType="com.example.dto.BlacklistDTO">
            select email,blacklist_reason,blacklist_start_date,blacklist_end_date,member_info.mem_no from member_info join blacklist;
        </select>










</mapper>