<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucete.comprehensive.board.inquiry.dao.InquiryMapper">

    <resultMap id="inquiryResultMap" type="com.lucete.comprehensive.board.inquiry.dto.InquiryDTO">
        <id property="inquiryNo" column="INQUIRY_NO"/>
        <result property="inquiryTitle" column="INQUIRY_TITLE"/>
        <result property="inquiryContent" column="INQUIRY_CONTENT"/>
        <result property="inquiryDate" column="INQUIRY_DATE"/>
        <result property="inquiryReStatus" column="INQUIRY_RE_STATUS"/>
        <result property="inquiryCategory" column="INQUIRY_CATEGORY"/>
        <result property="inquiryUpdate" column="INQUIRY_UPDATE"/>
        <result property="inquiryDeleteStatus" column="INQUIRY_DELETE_STATUS"/>
        <association property="memNo" resultMap="memberResultMap"/>
        <association property="commList" resultMap="commResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.lucete.comprehensive.user.member.model.dto.MemberDTO">
        <id property="memNo" column="MEM_NO"/>
    </resultMap>


        <resultMap type="com.lucete.comprehensive.board.inquiry.dto.CommDTO" id="commResultMap">
            <id property="commKey" column="COMM_KEY"/>
            <result property="reDate" column="RE_DATE"/>
            <result property="reComment" column="RE_COMMENT"/>
            <result property="commDeleteStatus" column="COMM_DELETE_STATUS"/>
            <result property="memNo" column="MEM_NO"/>
            <result property="memName" column="MEM_NAME"/>
            <result property="inquiryNo" column="INQUIRY_NO" javaType="java.lang.Integer"/>
<!--            <association property="memNo" resultMap="memberResultMap" javaType="java.lang.Integer"/>-->
<!--            <association property="inquiryNo" resultMap="inquiryResultMap" javaType="java.lang.Integer"/>-->

        </resultMap>

   



    <select id="selectTotalCount" resultType="int" parameterType="hashmap">
        SELECT
            COUNT(*)
        FROM
            inquiry a
        <if test="searchCondition == 'memNo'">
        JOIN
            member_info b ON (a.MEM_NO = b.MEM_NO)
        </if>
        <where>

            <if test="searchCondition == 'allSelect'">

            </if>
            <if test="searchCondition == 'nomal'">
                a.INQUIRY_CATEGORY = 'nomal'
            </if>
            <if test="searchCondition == 'product'">
                a.INQUIRY_CATEGORY = 'product'
            </if>
            <if test="searchCondition == 'DiyKit'">
                a.INQUIRY_CATEGORY = 'DiyKit'
            </if>
            <if test="searchCondition == 'OneDayClass'">
                a.INQUIRY_CATEGORY = 'OneDayClass'
            </if>
        </where>
    </select>

    <select id="selectInquiryList" resultMap="inquiryResultMap">
        SELECT
            a.INQUIRY_NO,
            a.INQUIRY_TITLE,
            a.INQUIRY_CONTENT,
            a.INQUIRY_DATE,
            a.INQUIRY_RE_STATUS,
            a.INQUIRY_CATEGORY,
            a.INQUIRY_UPDATE,
            b.MEM_NAME,
            a.INQUIRY_DELETE_STATUS
        FROM
            inquiry a
        JOIN
            member_info b ON(a.MEM_NO = b.MEM_NO)
        <where>
            <if test="searchCondition == 'allSelect'">
            </if>
            <if test="searchCondition == 'nomal'">
                a.INQUIRY_CATEGORY = 'nomal'
            </if>
            <if test="searchCondition == 'product'">
                a.INQUIRY_CATEGORY = 'product'
            </if>
            <if test="searchCondition == 'DiyKit'">
                a.INQUIRY_CATEGORY = 'DiyKit'
            </if>
            <if test="searchCondition == 'OneDayClass'">
                a.INQUIRY_CATEGORY = 'OneDayClass'
            </if>
        </where>
        ORDER BY
            a.INQUIRY_NO DESC
        LIMIT #{offSet}, #{limit}
    </select>

    <insert id="insertInquiry" parameterType="com.lucete.comprehensive.board.inquiry.dto.InquiryDTO">
        INSERT INTO
            inquiry
                (INQUIRY_TITLE, INQUIRY_CONTENT,INQUIRY_CATEGORY, INQUIRY_DATE, MEM_NO)
        values
                (#{ inquiryTitle },
                #{ inquiryContent },
                #{ inquiryCategory },
                NOW(),
                (SELECT
                    MEM_NO
                from
                    member_info
                where
                    EMAIL = 'janesmith@example.com'))
    </insert>

    <select id="selectInquiryDetail" resultMap="inquiryResultMap">
    SELECT
        a.INQUIRY_NO,
        a.INQUIRY_TITLE,
        a.INQUIRY_CONTENT,
        a.INQUIRY_DATE,
        a.INQUIRY_RE_STATUS,
        a.INQUIRY_CATEGORY,
        a.INQUIRY_UPDATE,
        b.MEM_NAME,
        a.INQUIRY_DELETE_STATUS
    FROM
        inquiry a
    JOIN
        member_info b ON (a.MEM_NO = b.MEM_NO)
    WHERE
        a.INQUIRY_NO = #{ inquiryNo }
    AND
       a.INQUIRY_DELETE_STATUS = 'N'
    </select>

    <delete id="deleteInquiry">
<!-- status 부분만 변경해서 update 하여 데이터는 남기려 했으나 안되서
     delete로 데이터까지 삭제 되는 방향으로 진행  -->
    DELETE FROM inquiry
    WHERE INQUIRY_NO = #{ inquiryNo }
    </delete>

    <update id="updateInquiry">
        UPDATE inquiry
        SET INQUIRY_TITLE = #{ inquiryTitle },
            INQUIRY_CONTENT = #{ inquiryContent },
            INQUIRY_UPDATE = NOW()
        WHERE
            INQUIRY_NO = #{inquiryNo}
    </update>

<!--    <insert id="insertComm">-->
<!--        INSERT-->
<!--        INTO comments-->
<!--            (INQUIRY_NO, RE_COMMENT, RE_DATE)-->
<!--        VALUES-->
<!--            (#{ inquiryNo }, #{ reComment }, NOW())-->
<!--    </insert>-->

<!--    <select id="selectCommList" resultMap="commResultMap">-->
<!--        SELECT-->
<!--            a.COMM_KEY,-->
<!--            a.RE_COMMENT,-->
<!--            b.INQUIRY_NO,-->
<!--            a.RE_DATE,-->
<!--            c.MEM_NO-->
<!--        FROM-->
<!--            comments a-->
<!--        JOIN-->
<!--            inquiry b ON(a.INQUIRY_NO = b.INQUIRY_NO)-->
<!--        JOIN-->
<!--            member_info c ON(a.MEM_NO = b.MEM_NO)-->
<!--          AND-->
<!--            a.COMM_DELETE_STATUS = 'N'-->
<!--        ORDER BY-->
<!--            a.COMM_KEY-->
<!--    </select>-->

<!--    <update id="deleteComm">-->
<!--        UPDATE-->
<!--            comments-->
<!--        SET-->
<!--            COMM_DELETE_STATUS = 'Y'-->
<!--        WHERE-->
<!--            COMM_KEY = #{ commKey }-->
<!--    </update>-->




    <!--관리자 -->

    <select id="AdminSelectTotalCount" resultType="int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM
        inquiry a
        <if test="searchCondition == 'user' || searchCondition == 'userId'">
            INNER JOIN
            member_info b ON (a.MEM_NO = b.MEM_NO)
        </if>
        <where>
            <if test="searchCondition == 'user'">

                b.MEM_NAME LIKE CONCAT('%', #{ searchValue }, '%')

            </if>
            <if test="searchCondition == 'userId'">
                b.MEM_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == null or searchCondition == ''">
                1=1 <!-- 모든 결과 반환 -->
            </if>
        </where>
    </select>

    <!--관리자 문의글 조회 -->
    <select id="AdminSelectInquiryList" resultMap="inquiryResultMap">
        SELECT
        a.INQUIRY_NO,
        a.INQUIRY_TITLE,
        a.INQUIRY_CONTENT,
        a.INQUIRY_DATE,
        a.INQUIRY_RE_STATUS,
        a.INQUIRY_CATEGORY,
        a.INQUIRY_UPDATE,
        b.MEM_NAME,
        b.MEM_ID,
        a.INQUIRY_DELETE_STATUS
        FROM
        inquiry a
        JOIN
        member_info b ON(a.MEM_NO = b.MEM_NO)
        <where>
            <if test="searchCondition == 'user'">
                b.MEM_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'userId'">
                b.MEM_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == null or searchCondition == ''">
                1=1 <!-- 모든 결과 반환 -->
            </if>
            AND
            a.INQUIRY_RE_STATUS = 'N'
        </where>
        ORDER BY
        a.INQUIRY_DATE DESC
        LIMIT #{offSet}, #{limit}
    </select>


    <select id="AdminSelectInquiryDetail" resultMap="inquiryResultMap">
        SELECT
            a.INQUIRY_NO,
            a.INQUIRY_TITLE,
            a.INQUIRY_CONTENT,
            a.INQUIRY_DATE,
            a.INQUIRY_RE_STATUS,
            a.INQUIRY_CATEGORY,
            a.INQUIRY_UPDATE,
            b.MEM_NAME,
            a.INQUIRY_DELETE_STATUS,
            c.COMM_KEY,
            c.RE_DATE,
            c.RE_COMMENT
        FROM
            inquiry a
        LEFT JOIN
            member_info b ON (a.MEM_NO = b.MEM_NO)
        LEFT JOIN
            comments c ON (a.INQUIRY_NO = c.INQUIRY_NO)
        WHERE
            a.INQUIRY_NO = #{ inquiryNo }
          AND
            a.INQUIRY_DELETE_STATUS = 'N'
        ORDER BY
            c.COMM_KEY
    </select>


    <delete id="deleteAdminInquiry">
        DELETE FROM inquiry
        WHERE INQUIRY_NO = #{ inquiryNo }
    </delete>

    <insert id="insertComm">
        INSERT
        INTO comments
            (INQUIRY_NO, RE_COMMENT, RE_DATE)
        VALUES
            (#{ inquiryNo }, #{ reComment }, NOW())
    </insert>

    <select id="searchCommDetail" resultMap="commResultMap">
        SELECT
            a.COMM_KEY,
            a.RE_COMMENT,
            b.INQUIRY_NO,
            a.RE_DATE,
        FROM
            comments a
        JOIN
            inquiry b ON(a.INQUIRY_NO = b.INQUIRY_NO)
        WHERE
            a.COMM_DELETE_STATUS = 'N'
        ORDER BY
            a.COMM_KEY
    </select>

</mapper>




