<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucete.comprehensive.product.model.dao.ProductMapper">

    <!-- ProductDTO 객체를 삽입하는 SQL 매핑 -->
    <insert id="insertProduct" parameterType="com.lucete.comprehensive.product.model.dto.ProductDTO">
        INSERT INTO product (PROD_NAME, PROD_AMOUNT, PROD_PRICE, PROD_ACCOUNT, PROD_SOLD_OUT, PROD_CATEGORY, PROD_VIEW)
        VALUES (#{prodName}, #{prodAmount}, #{prodPrice}, #{prodAccount}, #{prodSoldOut}, #{prodCategory}, #{prodView});
        <selectKey keyProperty="prodSerial" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertImage" parameterType="com.lucete.comprehensive.common.file.FileDTO">
        INSERT INTO upload_file(FILE_NAME, UPLOAD_DATE, FILE_PASS, FILE_SIZE, PROD_SERIAL, REV_NO)
        VALUES (#{fileName}, #{uploadDate}, #{filePass}, #{fileSize}, #{prodSerial}, #{revNo});
    </insert>
</mapper>
