<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucete.comprehensive.product.model.dao.ProductMapper">

    <resultMap type="com.lucete.comprehensive.product.model.dto.ProductDTO" id="generalProductResultMap">
        <id property="prodSerial" column="PROD_SERIAL"/>
        <result property="prodName" column="PROD_NAME"/>
        <result property="prodAmount" column="PROD_AMOUNT"/>
        <result property="prodPrice" column="PROD_PRICE"/>
        <result property="prodAccount" column="PROD_ACCOUNT"/>
        <result property="prodSoldOut" column="PROD_SOLD_OUT"/>
        <result property="prodCategory" column="PROD_CATEGORY"/>
        <result property="prodView" column="PROD_VIEW"/>
        <association property="productCategoryDTO" resultMap="categoryResultMap"/>
        <association property="file" resultMap="uploadFileResultMap"></association>
    </resultMap>

    <resultMap type="com.lucete.comprehensive.product.model.dto.ProductCategoryDTO" id="categoryResultMap">
        <id property="prodCategory" column="PROD_CATEGORY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <resultMap id="uploadFileResultMap" type="com.lucete.comprehensive.common.file.FileDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="filePass" column="FILE_PASS"/>
    </resultMap>

    <select id="findCategory" resultMap="categoryResultMap">
        SELECT
            *
        FROM
            PRODUCT_CATEGORY
    </select>


    <!-- ProductDTO 객체를 삽입하는 SQL 매핑 -->
    <insert id="insertProduct" parameterType="com.lucete.comprehensive.product.model.dto.ProductDTO">
        INSERT INTO product (PROD_NAME, PROD_AMOUNT, PROD_PRICE, PROD_ACCOUNT, PROD_SOLD_OUT, PROD_CATEGORY, PROD_VIEW)
        VALUES (#{prodName}, #{prodAmount}, #{prodPrice}, #{prodAccount}, #{prodSoldOut}, #{prodCategory}, #{prodView});
        <selectKey keyProperty="prodSerial" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertImage" parameterType="com.lucete.comprehensive.common.file.FileDTO">
        INSERT INTO upload_file(FILE_NAME, UPLOAD_DATE, FILE_PASS, FILE_SIZE, PROD_SERIAL, REV_NO)
        VALUES (#{fileName}, #{uploadDate}, #{filePass}, #{fileSize}, #{prodSerial}, #{revNo});
    </insert>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">

        SELECT
                COUNT(*)
        FROM
            product a
         JOIN
             product_category b ON(a.PROD_CATEGORY = b.PROD_CATEGORY)
        <where>
            <if test="searchCondition == 'jewelry'">
                a.PROD_CATEGORY = 1 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'DIY_KIT'">
                a.PROD_CATEGORY = 2 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'DIY_mater'">
                a.PROD_CATEGORY = 3 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
             AND
                a.PROD_AMOUNT > 0
        </where>


    </select>

    <select id="selectProductList" resultMap="generalProductResultMap">

        SELECT
            a.PROD_SERIAL,
            a.PROD_NAME,
            b.FILE_PASS,
            a.PROD_PRICE,
            a.PROD_AMOUNT,
            a.PROD_CATEGORY
        FROM
            product a
        JOIN
            upload_file b ON (a.PROD_SERIAL = b.PROD_SERIAL)
        JOIN
            product_category c ON (a.PROD_CATEGORY = c.PROD_CATEGORY)
        <where>
            <if test="searchCondition == 'jewelry'">
                    a.PROD_CATEGORY = 1 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'DIY_KIT'">
                    a.PROD_CATEGORY = 2 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'DIY_mater'">
                    a.PROD_CATEGORY = 3 AND a.PROD_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
        </where>
        AND
            a.PROD_AMOUNT > 0
        ORDER BY
            a.PROD_SERIAL DESC
        LIMIT
            #{offSet}, #{limit}
    </select>

    <select id="findProductList" resultMap="generalProductResultMap">

        SELECT
            *
        FROM
            product

    </select>

    <select id="selectBySerial" resultMap="generalProductResultMap">
        SELECT
            *
        FROM
            product
        WHERE
            PROD_SERIAL = #{prodSerial}
    </select>

    <update id="updateProduct" parameterType="java.util.Map">
        UPDATE product
        SET
            PROD_NAME = #{prodName},
            PROD_AMOUNT = #{prodAmount},
            PROD_PRICE = #{prodPrice},
            PROD_ACCOUNT = #{prodAccount}
        WHERE
            PROD_SERIAL = #{prodSerial}
    </update>

    <insert id="insertClass" parameterType="com.lucete.comprehensive.product.model.dto.OneDayClassDTO">
        INSERT INTO oneday_class (CLASS_NAME, START_DATE, END_DATE, SET_TIME, PROD_CATEGORY, TEACHAR_NAME)
        VALUES (#{className} , #{startDate}, #{endDate}, #{setTime}, 4, #{teacherName})
    </insert>

    <insert id="classProduct" parameterType="com.lucete.comprehensive.product.model.dto.ProductDTO">
        INSERT INTO product (PROD_NAME, PROD_PRICE, PROD_ACCOUNT, PROD_AMOUNT, PROD_CATEGORY)
        VALUES (#{className}, #{prodPrice}, #{prodAccount}, 4, 4)
    </insert>

    <select id="getSerial" parameterType="java.lang.String" resultType="com.lucete.comprehensive.product.model.dto.ProductDTO">
        SELECT
            *
        FROM
            product
        WHERE
            PROD_NAME = #{prodName}
    </select>

    <insert id="classFile" parameterType="com.lucete.comprehensive.common.file.FileDTO">
        INSERT INTO upload_file (FILE_NAME, UPLOAD_DATE, FILE_PASS, FILE_SIZE, PROD_SERIAL)
        VALUES (#{fileName}, #{uploadDate}, #{filePass}, #{fileSize}, #{prodSerial})
    </insert>

</mapper>
