.navicon {
    display: inline;
    padding: 10px;
    
}
.navbar-list{
    text-align: right;
    padding: 0px;
    margin: 0px;
    right: 100px;
    bottom: 60px;
    position: relative;
    
}
body{
    
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
    overflow: auto;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Gothic A1", sans-serif;
}
.category{
    padding: 10px;
    
}
.category-list{
    
    display: inline-block;
    box-shadow: 1px 0 0 lightgray;
    float: left;
    font-family: "Gothic A1", sans-serif;
    inline-size: 200px;
    
   
}
