<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucete.comprehensive.user.member.model.dao.MemberMapper">

    <resultMap id="login" type="com.lucete.comprehensive.user.member.model.dto.SignInDTO">
        <id property="memNo" column="MEM_NO"/>
        <result property="memId" column="MEM_ID"/>
        <result property="memName" column="MEM_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="adminAuthority" column="ADMIN_AUTHORITY"/>
    </resultMap>
    <resultMap id="memInfo" type="com.lucete.comprehensive.user.member.model.dto.MemberDTO">
        <id property="memNo" column="MEM_NO"/>
        <result property="memId" column="MEM_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="phone" column="PHONE"/>
        <result property="memDate" column="MEM_DATE"/>
    </resultMap>


    <insert id="regist" parameterType="com.lucete.comprehensive.user.member.model.dto.SignUpDTO">
        INSERT INTO MEMBER_INFO (
        MEM_ID
        ,MEM_NAME
        ,PASSWORD
        ,EMAIL
        ,PHONE
        ,ADDRESS
        )
        VALUES (
        #{memId}
        ,#{memName}
        ,#{password}
        ,#{email}
        ,#{phone}
        ,#{address}
        )
    </insert>


    <select id="findByMemberId" resultMap="login">
        SELECT
        MEM_NO
        ,MEM_ID
        ,MEM_NAME
        ,PASSWORD
        ,phone
        ,email
        ,admin_authority AS adminAuthority
        FROM  MEMBER_INFO
        WHERE  MEM_ID = #{memId}
    </select>

    <select id="findId" resultType="string">

        select mem_id from member_info where mem_name = #{memName} and phone = #{phone}
    </select>


    <select id="selectMemberById" resultType="string">
        SELECT
        mem_id
        FROM
        member_info
        WHERE


        mem_id = #{ memId }
    </select>
    <select id="selectMembers" resultMap="memInfo">
        SELECT mem_no,
        mem_name,
        mem_id,
        mem_date,
        address
        FROM MEMBER_INFO
        WHERE mem_name = #{memName}
        AND address like #{address}
        AND mem_date BETWEEN #{startDate} AND #{endDate}
        AND mem_YN = 'Y';

    </select>

    <update id="updateEmail">
        UPDATE member_info
        SET email = #{email}
        WHERE mem_No = #{memNo}
    </update>
</mapper>